.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 1.25rem;
    text-align: center;
}


.add-form {
   
  }
  
.add-full-width {
    width: 100%;
  }

.btn {
    width: 100%;
    font-size: 1.25rem;
    margin-top: 1.25rem;
}  

input[type="file"] {
  display: none;
  
}

.upload-btn {
  background: #f4f4f4;
  padding: .25rem 1rem; 
  
}

.add-icon {
  background: coral;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  color: #f1f1f1;
}
.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1.25rem;
}
.btn-small {
  width: 30%;
}