<!-- ref.:https://material.angular.io/components/input/examples -->
 <div>
    <a mat-button 
    routerLink="/" 
    class="add-icon"
    >Retour</a>
 </div>       
<div class="form-container">
    <h2>Ajouter une bière</h2>
    <form class="add-form" (ngsubmit)="onSubmit()" [formGroup]="addform">
        <mat-form-field class="add-full-width" appearance="fill">
            <mat-label>Nom bière</mat-label>
            <input matInput ng-model="nom" formControlName="nom"  value="{{nom}}" >
        </mat-form-field>
        
        <mat-form-field class="add-full-width" appearance="fill">
            <mat-label>Brasserie</mat-label>
            <input matInput ng-model="brasserie" formControlName="brasserie" value={{brasserie}}>
        </mat-form-field>
        
        <p>
            <mat-form-field class="add-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput ng-model="description"  formControlName="description" value={{description}}></textarea>
            </mat-form-field>   
        </p>
<!-- upload image -->

<label for="file-upload" class="upload-btn">
    <input id="file-upload"  formControlName="image" value={{image}} type="file" (change)="onFileSelected($event)">
    Choisir fichier image
</label>

        <!-- <button mat-flat-button (click)="onSubmit()" type="submit" color="primary" class="btn">Valider</button>     -->
        <div class="buttons-container">
            <button mat-stroked-button (click)="onSubmit()" type="submit" color="primary" class="btn-small">Valider</button>
            <button mat-stroked-button (click)="onCancel()" type="submit"  class="btn-small">Annuler</button>
            <button mat-stroked-button (click)="suppBiere()" type="submit" color="warn" class="btn-small">Supprimer</button>
          </div>
    </form>    
    
</div>

